@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    scroll-behavior: smooth;
}

body,html{
    overflow-x: hidden;
}

nav{
    background: white;
    position: relative;
    width: 100%;
    height: 80px;
    z-index: 1000;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
}

nav ul a{
    display: block;
    padding: 16px;
    text-decoration: none;
    transition: all .2s;
}

nav ul a:hover{
    color: #00F3BB;
    text-decoration: line-through;
}

nav ul a:active{
    color: rgba(6,10,36,0.56);
    text-decoration: line-through;
}

nav .logo{
    float: left;
    display: block;
    padding: 20px;
}

nav .menu{
    clear: both;
    max-height: 0;
    transition: all .3s ease-out;
}

nav .menu-icon{
    padding: 38px;
    position: relative;
    float: right;
    cursor: pointer;
}

nav .menu-icon .nav-icon{
    background: #060A24;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

nav .menu-icon .nav-icon:before{
    background: #060A24;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 5px;
    transition: all .2s ease-out;
}

nav .menu-icon .nav-icon:after{
    background: #060A24;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    bottom: 5px;
    transition: all .2s ease-out;
}

nav .menu-btn{
    display: none;
}

nav .menu-btn:checked ~ .menu{
    max-height: 240px;
    background-color: #0000EC;
    margin-top: -5px;
}

nav .menu-btn:checked ~ ul a{
    color: #FFFFFF;
}

nav .menu-btn:checked ~ ul a:hover{
    color: #00F3BB;
    text-decoration: line-through;
}

nav .menu-btn:checked ~ ul a:active{
    color: rgba(6,10,36,0.56);
    text-decoration: line-through;
}

nav .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}

nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
}

nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    bottom: 0;
}

@media (min-width: 800px){
    nav li{
        float: left;
    }

    nav ul a{
        color: black;
        padding: 26px 48px;
    }

    nav .menu{
        clear: none;
        float: right;
        max-height: none;
    }

    nav .menu-icon{
        display: none;
    }
}

section .container-intro{
    padding-top: 3.1%;
    padding-left: 13.9%;
}

section .container-intro .title span{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
    color: #060A24;
    letter-spacing: 0;
}

section .container-intro .title span:nth-child(2){
    text-decoration: line-through;
}

section .container-intro .title span:nth-child(4){
    color: #0000EC;
}

section .container-intro .subtitle p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    max-width: 628px;
    margin-bottom: 56px;
}

section .container-intro .intro-btn a{
    display: block;
    width: 226px;
    height: 56px;
    background: linear-gradient(90deg,#00F0B8 0%, #00F0B8 70%, #0000FE 100%);
    text-align: center;
    line-height: 56px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s;
    background-repeat: no-repeat;
    background-size: 300%;
    background-position: left;
    margin-bottom: 5px;
}

section .container-intro .intro-btn a:hover{
   background-position: right;
}

@media (max-width:800px){
    section .container-intro{
        padding-left: 1.9%;
        padding-right: 1.9%;
    }
}

section .container-episodios{
    width: 100%;
    height: auto;
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 11%);
}

section .container-episodios .episodios{
    padding-top: 186px;
    padding-left: 13.9%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;  
}

section .container-episodios .podcasts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left:6.9%;
    padding-right: 6.9%;
    width: 100%;
    padding-top: 26px;
    padding-bottom: 232px;
}

section .container-episodios .podcasts iframe{
    width: 584px;
    height: 232px;
    margin-right: 26px;
    margin-bottom: 72px;
}

section .container-nosotros{
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

section .container-nosotros .imagen-nosotros{
    display: flex;
    justify-content: center;
    width: 50%;
}

section .container-nosotros .imagen-nosotros img{
    height: auto;
    width: 450px;
    margin-top: -250px;
}

section .container-nosotros .contenido-nosotros{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 50%
}

section .container-nosotros .contenido-nosotros span{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    margin-bottom: 24px;
}

section .container-nosotros .contenido-nosotros p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    max-width: 464px;
}

@media (max-width: 800px){
    section .container-nosotros{
        flex-wrap: wrap;
    }
    section .container-nosotros .imagen-nosotros{
        position: relative;
        padding: 1%;
        width: 100%;
    }
    section .container-nosotros .contenido-nosotros{
        width: 100%;
        align-items: center;
        margin-bottom: 100px;
        padding: 5%;
    }
}

@media (max-width: 460px){
    section .container-nosotros .imagen-nosotros img{
        width: 350px;
    }
}

section .container-invitados{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

section .container-invitados .titulo-invitados{
    font-family: 'IBM Plex Sans', sans-serif;   
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    margin-bottom: 36px;
    padding-left: 13.9%;
}

section .container-invitados .galeria{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

section .container-invitados .galeria img{
    width: 33.333334%;
    height: auto; 
    padding: 0;
    margin: 0;
}

@media (max-width: 650px){
    section .container-invitados .galeria img{
        width: 100%;
    }
}

section .container-temas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

section .container-temas .titulo-temas{
    font-family: 'IBM Plex Sans', sans-serif;   
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    padding-left: 13.9%;
    padding-top: 64px;
    padding-bottom: 56px;
}

section .container-temas .temas{
    display: flex;
    justify-content: center;
}

section .container-temas .temas .tema{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 170px;
    margin-bottom: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

section .container-temas .temas .tema img{
    width: 104px;
    height: auto;
    margin-bottom: 40px;
}

section .container-temas .temas .tema span{
    font-family: 'IBM Plex Sans', sans-serif;  
    font-weight: 600;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
}

@media (max-width:1000px){
    section .container-temas .temas{
        flex-wrap: wrap;
    }
}

@media (max-width: 500px){
    section .container-temas .titulo-temas{
        padding: 5%;
    }
}

section .container-mas{
    width: 100%;
    height: 518px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);;
    clip-path: polygon(100% 2%, 100% 100%, 0 100%, 0 16%);
}

section .container-mas .conoce-mas{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

section .container-mas .conoce-mas span{
    font-family: 'IBM Plex Sans', sans-serif;  
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 36px;
}

section .container-mas .conoce-mas a{
    display: block;
    width: 345px;
    height: 56px;
    background: linear-gradient(90deg,#00F0B8 0%, #00F0B8 70%, #0000FE 100%);
    text-align: center;
    line-height: 56px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s;
    background-repeat: no-repeat;
    background-size: 300%;
    background-position: left;
    margin-bottom: 5px;
}

section .container-mas .conoce-mas a:hover{
   background-position: right;
}

footer {
    width: 100%;
}

footer .left{
    padding: 36px 0px 31px 100px;
    float: left;
}

footer .left span{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
}

footer .right{
    float: right;
    padding: 36px 100px 31px 0px;
}

footer .right i{
    margin-left: 36px;
    font-size: 18px;
}

@media (max-width:750px){
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .right{
        padding: 0;
        margin-bottom: 50px;
    }
    footer .left{
        padding: 0;
        margin: 50px;
    }
    footer .right i:nth-child(1){
        margin-left: 0;
    }
}